version: "3.7"

services:
  kopia:
    image: kopia/kopia:0.17.0
    container_name: umbrel-kopia
    restart: unless-stopped

    command: |
      server start \
      --insecure \
      --address=0.0.0.0:51515 \
      --server-control-username=umbrel \
      --server-control-password=umbrel

    ports:
      - "51515:51515"

    volumes:
      - ${APP_DATA_DIR}/config:/app/config
      - ${APP_DATA_DIR}/cache:/app/cache
      - ${UMBREL_ROOT}/data:/data:ro

    environment:
      - KOPIA_CONFIG_PATH=/app/config/repository.config
      - KOPIA_CACHE_DIRECTORY=/app/cache
